.sizeSlider {
    -webkit-appearance: none;  
    width: 7%; 
    height: 25px;  
    outline: none; 
  
  }
  
  .slider:hover {
    opacity: 1; 
  }
  
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 25px; 
    height: 25px; 
    background: #88a389; 
    cursor: pointer; 
  }
  
  .slider::-moz-range-thumb {
    width: 25px; 
    height: 25px; 
    background: #4CAF50; 
    cursor: pointer; 
  }

  .button {
    background: blue;
  }

  .menu {
      position: absolute;
      top: 10px;
      left: 5;
      height: 200px;
      width: 11%;
      border: 3px solid darkgrey;
      background-color: lightgray;
  }

  .inner{
      position: absolute;
      left: 10px;
  }
